/* Custom CSS Syle */
/* GLOBAL STYLES */
html,body {
    font-family:'Montserrat', sans-serif;
}

.text-center {
    text-align: center;
}

.clear {
    clear: both;
}

a {
    color: #f9a93f;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

a:hover,
a:active,
a:focus {
    color: #8f5100;
    text-decoration: none;
}

.heading {
    background-image: url("../img/cover.png");
    background-position: center;
    background-size: cover;
}

.heading h2{
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
}

.error {
    color: red;
    padding-top:5px;
}

/****************************************************
*****************************************************
1. INDEX PAGE
*****************************************************
*****************************************************/

/***********************
 1. HEADER
 ***********************/
.navbar {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.navbar.scroll {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 100%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 100%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 100%,rgba(0,0,0,0.5) 100%);
}

.navbar .navbar-brand {
    font-size:22px;
    font-weight: bold;
}

.navbar .navbar-brand img {
    height: 100px;
    margin-right:15px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.navbar.scroll .navbar-brand img {
    height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    color:#fff;
    font-size:18px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #f9a93f;
}

.navbar-dark .navbar-nav .nav-item.signup .nav-link {
    color: #dc3545;
}

.navbar-dark .navbar-nav .nav-item.signup:hover .nav-link {
    color: #c82333;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

/***********************
 2. FOOTER
 ***********************/
footer {
    padding:50px;
    background: #1b1e21;
    color: #fff;
}

footer .socials {
    text-align: right;
}

.error-container {
    padding: 30px;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    overflow: hidden;
}

.error-container h3 {
    font-weight: 800;
}

/***********************
 3. COVER
 ***********************/

.cover {
    height: 100%;
    background: url("../img/cover.png")no-repeat center center;
    background-size: cover;
}

.cover .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.cover .hero-text h1 {
    font-weight: bold;
}

.cover .hero-text h4 {
    margin-top:30px;
}

.cover .hero-text .btn {
    font-weight: bold;
    margin-top:30px;
    margin-left:15px;
    margin-right:15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/***********************
 4. FEATURED QUIZES
 ***********************/

.featured {
    padding-top: 40px;
    padding-bottom: 40px;
}

.featured h2 {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.featured .item {
    padding:0;
}

.featured .item .img {
    height:200px;
    background-position: center center;
    background-size: cover;
}

.featured .item .description {
    padding: 15px;
    text-align: center;
    box-shadow: 0px 6px 12px 2px rgba(0,0,0,0.07);
}

.featured .item .description .left {
    float:left;
    font-weight: bold;
}

.featured .item .description .right {
    float:right;
}

.featured .item .description a {
    font-weight: bold;
    font-size: 1.1rem;
}

/***********************
 5. LOGIN MODAL
 ***********************/

.login form {
    margin-bottom: 0;
}

.login .modal-title {
    font-weight: bold;
    text-transform: uppercase;
}

.login .right {
    float: right;
}

.login .forgot {
    padding: .375rem .75rem;
}

/***********************
 6. COUNTUP
 ***********************/

.counters {
    padding:0;
}

.counters .paral {
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.counters .paralsec {
    background-image: url("../img/odometer-backgr.jpg");
}

.counters .jumbotron{
    margin-bottom: 0;
    border-radius: 0;
}

.counters .item {
    color: #FFF;
    text-align: center;
}

@media only screen and (max-width:768px){
    .counters .item:nth-child(3),
    .counters .item:nth-child(4){
        margin-top:4rem;
    }
}

.counters .item h1 {
    font-weight: bold;
    font-size: 3rem;
}

/***********************
 7. LEADERBOARD
 ***********************/
.leaderboard {
    padding-top: 40px;
    padding-bottom: 40px;
}

.leaderboard h2 {
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.leaderboard .second-row,
.leaderboard .last-row {
    margin-top:50px;
}

.leaderboard .last-row {
    text-align: center;
}

.leaderboard .last-row .btn {
    font-weight: bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.leaderboard .each {
    padding-top:30px;
    padding-bottom:30px;
    box-shadow: 0px 6px 12px 2px rgba(0,0,0,0.3);
}

.leaderboard .each h4 {
    font-weight: bold;
    text-align: center;
    width:100%;
}

.leaderboard .each .description p {
    width: 100%;
}

.leaderboard .each .description p span:first-child {
    font-weight: 800;
}

.leaderboard .each .description p span:last-child {
    float: right;
}

.leaderboard .each .description p:last-child {
    margin-bottom: 0;
}

/****************************************************
*****************************************************
2. REGISTSRATION
*****************************************************
*****************************************************/
/***********************
 1. Register
 ***********************/

.form {
    padding-top: 30px;
    padding-bottom: 60px;
}

.form .error{
    color: #ff0000;
}

#registrationForm {
    border: 1px solid darkslategray;
    padding-left: 20px;
    padding-right: 20px;
}

.form .btn-register{
    margin-top: 10px;
}

.mainForm{
    margin-top: 30px;
    font-weight: bold;
}

/****************************************************
*****************************************************
3. LEADERBOARD
*****************************************************
*****************************************************/

.leaderboard_page{
    margin-top: 40px;
    margin-bottom: 40px;
}

.leaderboard_page .table{
    margin-top: 40px;
    margin-bottom: 0px;
}


/****************************************************
*****************************************************
4. REGISTRATION
*****************************************************
*****************************************************/



/****************************************************
*****************************************************
5. QUIZ ADD
*****************************************************
*****************************************************/

.quiz_form {
    margin-top:40px;
    margin-bottom: 50px;
    border: 1px solid darkslategrey;
    padding: 15px;
}

@media only screen and (max-width: 768px) {
    .quiz_form .two_column {
        text-align: center;
    }
}

@media only screen and (min-width: 769px){
    .quiz_form .two_column .right_align {
        text-align: right;
    }
}

/*FIX FOR JAVASCRIPT REPLACEMENT*/
@media (min-width: 768px) {
    .col-md-five {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-two {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-six {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-md-nine {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

@media (min-width: 768px) {
    .col-md-three {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-md-five, .col-md-two, .col-md-six, .col-md-three, .col-md-nine {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/****************************************************
*****************************************************
6. ABOUT PAGE
*****************************************************
*****************************************************/

.about {
    height: 100%;
    background: url("../img/cover.png")no-repeat center center;
    background-size: cover;
    position: relative;
}

.about .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.about .hero-text h1 {
    font-weight: bold;
}

.about .hero-text h4 {
    margin-top:30px;
}

.about .hero-text .btn {
    font-weight: bold;
    margin-top:30px;
    margin-left:15px;
    margin-right:15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.about .big-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    font-weight: bold;
}


/****************************************************
*****************************************************
7. QUIZ LIST PAGE
*****************************************************
*****************************************************/
.quiz_prepare{
    margin-top:40px;
    margin-bottom: 50px;
}

.quiz_prepare .item {
    padding: 20px;
}

.quiz_prepare .item .img {
    height:200px;
    background-position: center center;
    background-size: cover;
}

.quiz_prepare .item .description {
    padding: 15px;
    text-align: center;
    box-shadow: 0px 6px 12px 2px rgba(0,0,0,0.07);
}

.quiz_prepare .item .description .left {
    float:left;
    font-weight: bold;
}

.quiz_prepare .item .description .right {
    float:right;
}

.quiz_prepare .item .description a {
    font-weight: bold;
    font-size: 1.1rem;
}

.select_categories{
    margin-top: 60px;
}


/****************************************************
*****************************************************
8. EACH QUIZ PAGE
*****************************************************
*****************************************************/

#quizSummaryForm{
    margin-top:130px;
    margin-bottom: 50px;
}

.quiz_summary .head_info{
    font-weight: bold;
    text-align: center;
}

.quiz_summary .description{
    padding-left: 10px;
}

.quiz_summary .img{
    height:300px;
    background-position: right center;
    background-size: cover;
}

.quiz_summary .statistics{
    padding-top: 30px;
}

#user_results{
    margin-top:130px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

#bestPerformers_allTime{
    border: 1px solid darkslategray;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

#bestPerformers_thisDay{
    border: 1px solid darkslategray;
    margin-top:20px;
    margin-left: 0;
    margin-right: 0;
}

#recentPerformers{
    border: 1px solid darkslategray;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

/****************************************************
*****************************************************
9. USER PROFILE PAGE
*****************************************************
*****************************************************/

.text {
    margin-top: 120px;
    text-align: left;
    margin-left: 30px;
}

.picture{
    margin-top: 120px;
    text-align: left;
    margin-left: 30px;
}

.profile {
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttons{
    text-align: center;
}

.achievements{
    text-align: center;
}

.historyBT{
    text-align: right;
    margin-right: 40px;
}

.requests{
    margin-top: 10px;
}
.quiz_summary .statistics{
    padding-top: 30px;
}

#user_results{
    border: 1px solid darkslategray;
    margin-top:130px;
    margin-bottom: 50px;
}

.headline_text{
    color: #b21f2d;
    font-weight: bolder;
    font-size: 25px;
}

/****************************************************
*****************************************************
10. USER FINDER PAGE
*****************************************************
*****************************************************/

.button-class {
    font-size: 20px;
}

.personal{
    max-width: 300px;
    text-align: center;
}

.user-margin{
    margin-top: 40px;
}

.square{
    height: 300px;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.search{
    width:100%;
    text-align: center;
}

/****************************************************
*****************************************************
11. Chat

*****************************************************
*****************************************************/

.chat_header {
    border: 1px solid black;
    width: 100%;
    height: 5%;
    display: inline-block;
    margin-bottom: 0px;
    margin-top: -8px;
}

.chat_header h1 {
    text-align: center;
    color: white;
    font-size: x-large;
}

.chat_box {
    padding: 0 0 50px 0;
}

.chat_box_center {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat_box_center::-webkit-scrollbar{
    width: 10px;
}

.chat_box_center::-webkit-scrollbar-track{
    background: #dee0e5;
    border-radius: 5px;
}

.chat_box_center::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, 2);
}


.received_message {
    width: 90%;
    padding: 10px;
    margin: 5px 10px 0;
    background: gainsboro;
    border-radius: 10px;
    color: black;
    font-size: 17px;
}

.sent_message {
    width: 90%;
    padding: 10px;
    margin: 5px 10px 0;
    background: #a08105;
    border-radius: 10px;
    color: white;
    font-size: 17px;
}

.time{
    font-size: 12px;
}

.chat_user{
    font-size: 19px;
}

.chat_bottom {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: initial;
}

.chat_bottom textarea{
    display: inline-block;
    background: gainsboro;
    width: 80%;
    height: 50px;
    border: 1px solid black;
    resize: none;
    padding: 10px;
}

.chat_bottom button{
    display: inline-block;
    background: gainsboro;
    height: 50px;
    border: 1px solid black;
    resize: none;
    padding: 5px 15px;
    color: #1b1e21;
    margin: 0 10px;
}

.profile_picture{
    width: 50px;
    height: 50px;
    background: lightgray;
    border-radius: 50%;
}

/****************************************************
*****************************************************
12. Search

*****************************************************
*****************************************************/
.search_form {
    margin-top: 60px;
    margin-bottom: 20px;
}

.search_form .search_button {
    margin-top: 10px;
}

.Quiz_List .filter_box{
    display: inline-block;
    float: left;
    text-align: left;
}

/****************************************************
*****************************************************
13. HomePage

*****************************************************
*****************************************************/